<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/mui.indexedlist.css" rel="stylesheet" />
		<style>
			html,
			body {
				height: 100%;
				overflow: hidden;
			}
			.mui-bar {
				-webkit-box-shadow: none;
				box-shadow: none;
			}
			#done.mui-disabled{
				color: gray;
			}
			.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{
				right: 15px;
				left: auto;
				top: 13px;
			}
			.mui-table-view-cell.mui-checkbox.mui-left, .mui-table-view-cell.mui-radio.mui-left{
				padding-left: 15px;
			}
		</style>
	</head>

	<body>
		<div id="app">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">选择好友</h1>
			<a v-show="!creatGroup" id='done' class="mui-btn mui-btn-link mui-pull-right mui-btn-blue mui-disabled">创建</a>
		</header>
		<div class="mui-content">
			<div id='list' class="mui-indexed-list">
				<div class="mui-indexed-list-search mui-input-row mui-search" style="display: none;">
					<input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索好友">
				</div>
				<div class="mui-indexed-list-bar" style="display: none;">
					<a>A</a> <a>B</a> <a>C</a> <a>D</a> <a>E</a> <a>F</a> <a>G</a> <a>H</a> <a>I</a> <a>J</a> <a>K</a> <a>L</a> <a>M</a> <a>N</a> <a>O</a> <a>P</a> <a>Q</a> <a>R</a> <a>S</a> <a>T</a> <a>U</a> <a>V</a> <a>W</a> <a>X</a> <a>Y</a> <a>Z</a>
				</div>
				<div class="mui-indexed-list-alert"></div>
				<div class="mui-indexed-list-inner">
					<div class="mui-indexed-list-empty-alert">没有数据</div>
					<ul class="mui-table-view topHave" v-if="!creatGroup">
						<li v-for="item in contacts" class="mui-table-view-cell mui-indexed-list-item mui-checkbox mui-left">
							<span style="padding-top: 7px;display: inline-block;" v-text="item.name"></span>
							<input type="checkbox" style="position:absolute;right: 10px;"/>
							<img class="mui-media-object mui-pull-left" :src="item.headImgUrl" style="height: 35px;width: 35px;max-width: 35px;line-height: 35px;">
							<span style="padding-top: 7px;display: inline-block;opacity: 0;" v-text="item.id"></span>
						</li>
					</ul>
					<!--输入群名称-->
					<form v-show="creatGroup" class="mui-input-group topHave">
					    <div class="mui-input-row">
					        <label>群名称</label>
					    <input v-model="creatVal" type="text" class="mui-input-clear" placeholder="请输入群名称">
					    </div>
					    <div class="mui-button-row">
					        <button id="confirm" type="button" class="mui-btn mui-btn-primary" >确认</button>
					        <button id="cancel" @click="cancelBtn()" type="button" class="mui-btn mui-btn-danger" >取消</button>
					    </div>
					</form>						
				</div>
			
			</div>
		</div>
	</div>
		<script src="js/mui.min.js"></script>
		<script src="js/mui.indexedlist.js"></script>
		<script src="js/vue.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			var Vm = new Vue({
				el: '#app',
				data: {
					contacts: [],
					loginID: '',
					checkedValues: [],
					creatGroup: false,
					creatVal: ''
				},
				mounted: function(){
					this.$nextTick(function(){
						this.InitGreatGroupPage();
					})
				},
				methods: {
					InitGreatGroupPage: function(){
						mui.init();
						var _this = this;
						mui.ready(function() {
							var header = document.querySelector('header.mui-bar');
							var list = document.getElementById('list');
							var done = document.getElementById('done');
							//calc hieght
							list.style.height = (document.body.offsetHeight - header.offsetHeight) + 'px';
							//create
							window.indexedList = new mui.IndexedList(list);
							//done event点击创建===================================
							done.addEventListener('tap', function() {
								var checkboxArray = [].slice.call(list.querySelectorAll('input[type="checkbox"]'));
//								var checkedValues = [];
								var LoginUser = {id : _this.loginID};
								_this.checkedValues.push(LoginUser);
								checkboxArray.forEach(function(box) {
									if (box.checked) {
										var userItem = {id : ''};
										userItem.id = box.parentNode.lastChild.innerText;
										_this.checkedValues.push(userItem);
									}
								});
								if (_this.checkedValues.length > 0) {
									_this.creatGroup = true;

									
								} else {
									mui.alert('你没选择任何好友');
								}
							}, false);
							mui('.mui-indexed-list-inner').on('change', 'input', function() {
								var count = list.querySelectorAll('input[type="checkbox"]:checked').length;
								var value = count ? "创建(" + count + ")" : "创建";
								done.innerHTML = value;
								if (count) {
									if (done.classList.contains("mui-disabled")) {
										done.classList.remove("mui-disabled");
									}
								} else {
									if (!done.classList.contains("mui-disabled")) {
										done.classList.add("mui-disabled");
									}
								}
							});		
						});	//mui.ready()	

						//请求通讯录数据
						mui.plusReady(function(){
							var sData = plus.webview.currentWebview();
							_this.loginID = sData.loginID;
							mui.ajax({
								url: 'http://118.24.34.244:8080/test1/selectFriendsByIdServlet?id=' + _this.loginID,
								type: 'GET',
								timeout: 7000,
								beforeSend: function(){
									plus.nativeUI.showWaiting();
								},
								complete: function(){
									plus.nativeUI.closeWaiting();
								},
								success: function(res){
									res = JSON.parse(res);
									for(var i = 0; i < res.length; i++){
										res[i].headImgUrl = imgUrl + res[i].headImgUrl;
									};
									_this.contacts = res;
								},
								error: function(xhr, type, errorThrown){
									mui.toast("Error: 服务器响应失败");
									console.log(errorThrown);
								}								
							});
							//确认按钮创建群
							var confirmBtn = document.getElementById('confirm');
							confirmBtn.addEventListener('tap', function(){
								if(_this.creatVal != ''){
									mui.ajax({
										url: 'http://118.24.34.244:8080/test1/AddGroup?id=&name=' + _this.creatVal + '&masterId=' + _this.loginID,
										type: 'GET',
										timeout: 7000,
										beforeSend: function(){
											plus.nativeUI.showWaiting();
										},
										complete: function(){
											plus.nativeUI.closeWaiting();
										},
										success: function(res){
											var groupID = res;
											var userList = JSON.stringify(_this.checkedValues);
											console.log(userList);
											mui.ajax({
												url: 'http://118.24.34.244:8080/test1/AddUsersToGroup',
												type: 'GET',
												timeout: 7000,
												data : {groupId:groupID, userIds:userList},
												contentType: "application/x-www-form-urlencoded; charset=utf-8",
												beforeSend: function(){
													plus.nativeUI.showWaiting();
												},
												complete: function(){
													plus.nativeUI.closeWaiting();
												},
												success: function(res) {
													console.log(res);
													mui.toast("建群成功");
													mui.back();
												},
												error: function(xhr, type, errorThrown) {
													console.log(errorThrown);
												}
											});
										},
										error: function(xhr, type, errorThrown){
											mui.toast("Error: 服务器响应失败");
										}
									})
								}
							})							
						})//mui.plusReady
					},
					cancelBtn: function(){
						mui.back();
					}
				}
			})

		</script>
	</body>

</html>