<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">详细信息</h1>
		</header>
		<div class="mui-content" id="app">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-indexed-list-item mui-media">
					<img class="mui-media-object mui-pull-right" :src="user.headImgUrl" style="height: 60px;max-width: 60px;line-height: 60px;">
					<div class="mui-media-body">
						<span style="font-size: 16px; padding-top: 17px;display: block;">头像</span>
					</div>
				</li>				
			</ul>
			<ul class="mui-table-view topHave">
				<li class="mui-table-view-cell">
					<a>账号<span class="mui-pull-right" v-text="user.id"></span></a>
				</li>
				<li class="mui-table-view-cell">
					<a>姓名<span class="mui-pull-right" v-text="user.name"></span></a>
				</li>
				<li class="mui-table-view-cell">
					<a>性别<span class="mui-pull-right" v-text="user.sex"></span></a>
				</li>
				<li class="mui-table-view-cell">
					<a>年龄<span class="mui-pull-right" v-text="user.age"></span></a>
				</li>
			</ul>
			<!--搜索添加好友跳转过来-->
			<ul v-if="flag == 1" class="topHave" style="padding: 0 15px;">
				<li v-if="!isFriend && !addContact" @click="addFriend()" class="mui-btn mui-btn-block mui-btn-primary" style="padding: 11px 0;">添加到通讯录</li>
				<li v-if="!isFriend && addContact" class="mui-btn mui-btn-block mui-btn-default" style="padding: 11px 0;">等待验证</li>
				<li v-if="isFriend" @click="openChatPage()" class="mui-btn mui-btn-block mui-btn-primary" style="padding: 11px 0;">发消息</li>
			</ul>
			<!--同意好友添加请求跳转过来-->
			<ul v-if="flag == 2" class="topHave" style="padding: 0 15px;">
				<li v-if="!isValidate" @click="agreeAdd(agree)" class="mui-btn mui-btn-block mui-btn-primary" style="padding: 11px 0;">通过验证</li>
				<li v-if="!isValidate" @click="agreeAdd(refuse)" class="mui-btn mui-btn-block mui-btn-default" style="padding: 11px 0;">加入黑名单</li>
				<li v-if="isValidate" @click="openChatPage()" class="mui-btn mui-btn-block mui-btn-primary" style="padding: 11px 0;">发消息</li>
			</ul>	
			<!--聊天界面跳转过来个人信息-->
			<ul v-if="flag == 3" class="topHave" style="padding: 0 15px;">
				<li v-if="!isFriend && !addContact" @click="addFriend()" class="mui-btn mui-btn-block mui-btn-primary" style="padding: 11px 0;">添加到通讯录</li>
				<li v-if="!isFriend && addContact" @click="deleteFriend()" class="mui-btn mui-btn-block mui-btn-danger" style="padding: 11px 0;">删除好友</li>
			</ul>			
		</div>
	</body>
		<script src="js/mui.min.js"></script>
		<script src="js/vue.min.js"></script>
		<script type="text/javascript">
			new Vue({
				el: "#app",
				data: {
					loginID: '',
					user: {},
					isFriend: false,
					flag: 0,
					addContact: false,
					isValidate: false,
					agree: '同意',
					refuse: '拒绝',
					loginer: {}
				},
				mounted: function(){
					this.$nextTick(function(){
						mui.init();
						var _this = this;
						mui.plusReady(function(){
							_this.InitPage();
						})
					})
				},
				methods: {
					InitPage:function(){
						var _this = this;
						//获取传入该页面的数据
						var sData = plus.webview.currentWebview();
						this.user = sData.user;
						this.loginID = sData.loginID;
						this.flag = sData.flag;
						this.loginer = sData.loginer;
						//如果用户信息为本人
						if(sData.user.id == sData.loginID){
							_this.flag = 0;
						};
						//请求接口判断该用户是否已经是我的好友
						mui.ajax({
							url: 'http://118.24.34.244:8080/test1/IsFriend?id1=' + _this.loginID +'&id2=' + _this.user.id,
							type: 'GET',
							timeout: 7000,
				            contentType: "application/x-www-form-urlencoded; charset=utf-8",
				            beforeSend: function(){
				            	plus.nativeUI.showWaiting();
				            },
				            complete: function(){
				            	plus.nativeUI.closeWaiting();
				            },
				            success: function(res){
				            	if(res == 'true'){
				            		_this.isFriend = true;
				            	}
				            },
				            error: function(){
				            	mui.toast("Error: 服务器响应失败");
				            }
						})
					},//InitPage
					addFriend: function(){
						var _this = this;
						mui.ajax({
							url: 'http://118.24.34.244:8080/test1/AddFriendApply?senderId=' + _this.loginID + '&receiverId=' + _this.user.id,
							type: 'GET',
							contentType: "application/x-www-form-urlencoded; charset=utf-8",
							beforeSend: function(){
								plus.nativeUI.showWaiting();
							},
							complete: function(){
								plus.nativeUI.closeWaiting();
							},
							success: function(res){
								console.log(res);
								if(res == 'true'){
									_this.addContact = true;
								}else {
									mui.toast("添加失败");
								}
							},
							error: function(xhr,type,errorThrown){
								mui.toast("数据请求失败,请检查网络！");
							}
						})				
					},//addFriend
					openChatPage: function(){
						var _this = this;
						mui.openWindow({
							url: 'chat.html',
							id: 'chat.html',
							extras: {
								chatObj: _this.user,
								loginId: _this.loginID,
								loginer: _this.loginer,
								flag: 2
							}
						})
					},
					agreeAdd: function(status){
						var _this = this;
						mui.ajax({
							url: 'http://118.24.34.244:8080/test1/UpdateFriendApply?applyerId=' + _this.user.id + '&userId=' + _this.loginID + '&statue=' + status,
							type: 'GET',
							beforeSend: function(){
								plus.nativeUI.showWaiting();
							},
							complete: function(){
								plus.nativeUI.closeWaiting();
							},
							success: function(res){
								console.log(res);
								if(res == 'true' && status == '同意'){
									mui.toast("已添加为好友");
									_this.isValidate = true;
								}else if(res == 'true' && status == '拒绝'){
									mui.toast("已加入黑名单");
								}
							},
							error: function(xhr,type,errorThrown){
								mui.toast("数据请求失败,请检查网络！");
							}
						})
					},
					//删除好友
					deleteFriend: function(){
						var _this = this;
						mui.ajax({
							url: 'http://118.24.34.244:8080/test1/DeleteFriend?senderId=' + _this.loginID + '&receiverId=' + _this.user.id,
							type: 'GET',
							timeout: 7000,
							beforeSend: function(){
								plus.nativeUI.showWaiting();
							},
							complete: function(){
								plus.nativeUI.closeWaiting();
							},
							success: function(res){
								if(res == 'true'){
									mui.toast("删除成功");
									mui.openWindow({
										url: 'contact-list.html',
										id: 'contact-list.html'
									});
									//刷新通讯录页面
									var wobj = plus.webview.getWebviewById('contact-list.html');
									wobj.reload(true);
								}
							},
							error: function(xhr, type, errorThrown){
								mui.toast('服务器响应失败');
							}
						})
					}
					
				}//methods
			})
		</script>

</html>